/* Font-Family: 'Dosis', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Titillium Web', Sans-Serif;
Font-Size: 16px; */

body {
    background: url(tiny-squares.png);
}

#navbartop {
    background: transparent;
}

.navbar-brand {
    font-family: 'Dosis', Sans-Serif;
    font-size: 30px;
}

.infobar {
    background: rgb(255,255,255, .8);
}

.infobar p {
    font-family: 'Titillium Web', Sans-Serif;
    font-size: 16px;
}

#countryname {
    font-family: 'Dosis', Sans-Serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.nav-tabs {
    font-family: 'Titillium Web', Sans-Serif;
    font-size: 16px;
}

#graphimg {
    margin: 20px;
}