/* Font-Family: 'Dosis', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Titillium Web', Sans-Serif;
Font-Size: 16px; */

body {
    background: url(tiny-squares.png);
}

#navbartop {
    background: transparent;
}

.navbar-brand {
    font-family: 'Dosis', Sans-Serif;
    font-size: 30px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}